.advisoryCommittee {
    background-color: #FFF8EF;
    padding: 2rem 8rem;
    color: #333;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-weight: normal;
    }

    .content {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        min-height:700px;
    }

    .advisorList {
        flex: 1;
        display: flex;
        flex-wrap: wrap;

        .advisor {
            padding: 8px;
            transition: all 0.3s ease;
            cursor: pointer;
            width: 250px;

            &.highlighted {
                background: linear-gradient(to right, #FF7527 0%, #FC4D4D 50%, #FF7527 100%);
                border-radius: 4px;
                color: white;
            }

            h3 {
                font-size: 1.5rem;
                margin: 0;
                margin-bottom: 0.25rem;
                font-weight: 600;
            }

            p {
                font-size: 1rem;
                margin: 0;
                line-height: 1.4;
            }
        }
    }

    .advisorGrid {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        position: relative;

        .advisorBox {
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;
                filter: grayscale(100%);
            }

            &:hover img {
                filter: grayscale(0%);
                transform: scale(1.05);
            }
        }

    }
}

@media (max-width: 1024px) {
    .advisoryCommittee {
        .content {
            gap: 2rem;
        }

        .advisorGrid {
            width: 45%;
        }
    }
}

@media (max-width: 768px) {
    .advisoryCommittee {
        padding: 1.5rem;

        h2 {
            font-size: 2rem;
        }

        .content {
            flex-direction: column;
        }

        .advisorGrid {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }

        .advisorList {
            justify-content: center;
            align-items: center;
            order: 2;
        }
    }
}

@media (max-width: 480px) {
    .advisoryCommittee {
        padding: 1rem;

        h2 {
            font-size: 1.8rem;
        }

        .advisorList {
            gap: 0.5rem;
        }

        .advisorGrid {
            grid-template-columns: 1fr;
            gap: 0.5rem;

            .advisorBox {
                grid-column: 1 !important;
                grid-row: auto !important;
                aspect-ratio: 16/9 !important;
            }
        }
    }
}