* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
        background-color: #f5e6d3;
}

body {
        background-color: #f5e6d3;
}