.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background-color: #FDF8F6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .logo {

        img {
            height: 40px;
            margin-right: 20px;
            width: auto;
            cursor: pointer;
        }
    }

    .navLinks {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1.5rem;

            a {
                text-decoration: none;
                font-size: 1.2rem;
                transition: color 0.3s ease;
                cursor: pointer;
                color: black;

                &:hover {
                    color: #ff6b6b;
                }
            }

            button{
                background: linear-gradient(to right, #FF7527 0%, #FC4D4D 50%, #FF7527 100%);
                border: none;
                border-radius: 50px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 100px;
                color: white;
                cursor: pointer;
                font-size: 1.1rem;
                &:hover{
                    outline: 1px solid #ff2a00;
                    background: white;
                    color: #ff2a00;
                }

                &.sponsorBtn{
                    background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #ffffff 100%);
                    outline: 1px solid #ff2a00;
                    color: #ff2a00;
                    &:hover{
                        background: linear-gradient(to right, #FF7527 0%, #FC4D4D 50%, #FF7527 100%);
                        color: white;
                    }
                }
            }
        }
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #333;
            margin-bottom: 5px;
            transition: all 0.3s ease;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        .navLinks {
            position: fixed;
            top: 0;
            right: -100%;
            height: 100vh;
            width: 250px;
            flex-direction: column;
            background-color: #FDF8F6;
            padding: 2rem;
            transition: right 0.3s ease;

            &.open {
                right: 0;
            }

            li {
                margin-left: 0;
                margin-bottom: 1rem;
            }
        }

        .hamburger {
            display: flex;
            z-index: 1001;
        }
    }
}