# Set default index
DirectoryIndex index.html

# Enable rewrite engine
RewriteEngine On
RewriteBase /

# If requested resource exists as a file or directory, skip next rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise forward it to index.html
RewriteRule . index.html [L]

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# Allow access to assets
<FilesMatch "\.(html|htm|js|css|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|json)$">
    Order Allow,Deny
    Allow from all
    Require all granted
</FilesMatch>

# Prevent directory listing
Options -Indexes

# Set correct MIME types
AddType application/javascript .js
AddType text/css .css
AddType image/svg+xml .svg

# Enable CORS for fonts and other assets
<IfModule mod_headers.c>
    <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|js)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>